.App {
  width: 100vw;
  box-sizing: border-box;
}

.App-logo {
  height: 5vmin;

  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  background-color: #650201;
  height: 40px;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  z-index: 13;
}
.App-footer {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  background-color: #650201;
  height: 40px;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  z-index: 13;
}

.App-content {
  display: flex;
  width: 100vw;
  height: auto;
  flex-direction: column;
  overflow-wrap: break-word;
  align-items: center;
  margin-top: 20vh;
}

.heading {
  text-align: center;
  margin-left: 10vmin;
  margin-right: 10vmin;
  font-weight: 900;
  white-space: nowrap;
}

.standard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.extra-container {
  padding: 0;
  margin: 0;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}
.extra-li {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.footer-a {
  max-width: 24px;
  max-height: 24px;
}

.extra-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
}

.modal-items {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.line-item {
  display: flex;
  flex-direction: row;
}

.extra-header {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.extra-image {
  border-radius: 3px;
}

.button-no {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-no:hover a,
.button-no:focus a,
.button-no:active a,
.button-no:hover button,
.button-no:focus button,
.button-no:active button {
  outline: 0;
  color: black;
  background-color: white;
  box-shadow: none;
  cursor: default;
}
.button-no:hover span {
  display: none;
}

.button-no:hover p:after {
  content: "👻 B O O ! ! !";
}

#button-yes:hover,
#button-yes:focus,
#button-yes:active,
.extra-li:hover {
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
