.App {
  width: 100vw;
  box-sizing: border-box;
}

.App-logo {
  height: 5vmin;

  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  background-color: #650201;
  height: 40px;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-content {
  display: flex;
  width: 100vw;
  height: auto;
  flex-direction: column;
  overflow-wrap: break-word;
  align-items: center;
  margin-top: 20vh;
}

.heading {
  text-align: center;
  margin-left: 10vmin;
  margin-right: 10vmin;
  font-weight: 900;
  white-space: nowrap;
}

.standard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.App-link {
  color: #61dafb;
}

#button-no:hover,
#button-no:focus,
#button-no:active {
  outline: 0;
  color: white;
  background-color: white;
  box-shadow: none;
}
#button-yes:hover,
#button-yes:focus,
#button-yes:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
